.first{
    display: flex;
    justify-content: space-between;
}

.logo img{
height: 40px;
width: 40px;
margin-left: 20px;
border-radius: 50%;
}
.nav{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 20px;

}
.nav li{
    font-size: 20px;
}

.home{
    background-color: aquamarine;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.home div,p ,h1{
    text-align: center;


}
.home p{
  
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    

}
.service{
    padding-top: 20px;
    background-color: bisque;
}
.welcome h4,p{
text-align: center;
}
.service h4{
    text-align: center;
}
.box1 img{
    height: 50px;
    width: 40px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
.serviceMain{
    display: flex;
}